{% extends "admin/layout.html" %}
{% block content %}
<form class="container" action="show" method="post" role="form" novalidate>
    {{ show.hidden_tag() }}
    <p>
        {{ wtf.form_field(shift.department) }}
    </p>
    <p align="center">{{wtf.form_field(shift.submit, class="btn
        btn-dark")}} </p>
</form>
<table class="table table-hover">
    <thead class="thead-light">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Время начала смены</th>
        <th scope="col">Время окончания смены</th>
        <th scope="col">Подразделение</th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    {% for employee in employees.items %}
    <tr>
        <div>
            <th scope="row">{{employee.id}}
            </td>
            <td>{{employee.employees.first_name}}</td>
            <td>{{employee.employees.last_name}}</td>
            <td>{{employee.employees.department}}</td>
            <td>{{employee.arrival_time}}</td>
            <td>{{employee.}}</td>
            <td>
                <a id="employee_id"
                   href="{{url_for('shift.employee_shift', employee_id=employee.id)}}"
                   class="badge badge-primary">Редактировать</a></td>
        </div>
    </tr>
    {% endfor %}
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item active" aria-current="page">

            {% for page_num in employees.iter_pages() %}
            {% if page_num %}
            {% if employees.page == page_num %}
        <li class="page-item active"><a class="page-link"
                                        href="{{ url_for('shift.employee_shift', page=page_num) }}">{{
            page_num }}<span class="sr-only">(current)</span></a>
            {% else %}
        <li class="page-item"><a class="page-link"
                                 href="{{ url_for('shift.employee_shift', page=page_num) }}">{{
            page_num }}</a>
            {% endif %}
            {% else %}
        <li class="page-item"><a class="page-link"
                                 href="{{ url_for('shift.employee_shift', page=page_num) }}">...</a>
            {% endif %}
            {% endfor %}
    </ul>
</nav>