{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
{% block app_content %}
<form class="container" action="" method="post" enctype="multipart/form-data"
      novalidate>
    {{ editing.hidden_tag()}}
    <img src="../../static/uploads/{{image_name}}" width="170" height="200"
         class="img-thumbnail mx-auto d-block" alt="..."
         onerror="this.src='../../static/uploads/default.png'">
    <p>
        {{ wtf.form_field(editing.first_name) }}
    </p>
    <p>
        {{ wtf.form_field(editing.last_name) }}
    </p>
    <p>
        {{ wtf.form_field(editing.service_number) }}
    </p>
    <p>
        {{ wtf.form_field(editing.department) }}
    </p>
    <div class="form-group">
        <label>Выберите новую фотографию</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="image"
                   id="image">
            <label class="custom-file-label" for="image">Выбрать
                фото...</label>
        </div>
    </div>
    <p align="center">{{ wtf.form_field(editing.submit, class="btn
        btn-primary")}}</p>
</form>
{% if file_url %}
<br>
<img src="{{file_url}}">
{% endif %}
{% endblock %}
{% endblock %}