{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<form class="container" action="" method="post" role="form" novalidate>
    {{ shift.hidden_tag() }}
    <div class="row">
        <div class="col">
            {{ wtf.form_field(shift.department) }}
        </div>
        <div class="col">
            {{ wtf.form_field(shift.date) }}
        </div>

    </div>
    <p align="center">{{wtf.form_field(shift.submit, class="btn
        btn-dark")}} </p>
</form>
<table class="table table-hover">
    <thead class="thead-light">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Время начала смены</th>
        <th scope="col">Время окончания смены</th>
        <th scope="col">Количество отработанных часов</th>
        <th scope="col">Подразделение</th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    {% for employee in employees.items %}
    <tr>
        <div>
            <th scope="row">{{employee.id}}
            </td>
            <td>{{employee.employees.first_name}}</td>
            <td>{{employee.employees.last_name}}</td>
            <td>{{employee.arrival_time}}</td>
            <td>{{employee.departure_time}}</td>
            {% if employee.departure_time != None %}
                <td>{{employee.departure_time - employee.arrival_time}}</td>
            {% endif %}
            <td>{{employee.employees.department}}</td>
            <td>
                <a id="employee_id"
                   href="{{url_for('admin.work_shift_page', shift_id=employee.id)}}"
                   class="badge badge-primary">Редактировать</a></td>
        </div>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}